/* registration and forgot pass css. */

:root {
    --background: rgb(238,239,233);
    --dark: rgb(74,74,74);
    --lightdark: rgb(36,35,35);
}



body {
    font-family: "Clash Display";
    font-size: 18px;
    background-color: var(--background);
    text-align: center;
    overflow: hidden; /* no scrolling for u bucko*/
    height: 100%;
    justify-content: center;
}


.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 2vh;
    font-weight: bold;
}
.topleft:hover, .topright:hover {
    text-decoration: underline;
    cursor: pointer;
}
#back-button {
    color: var(--lightdark);
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}
a,a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.typewriter h1 {
    color: var(--lightdark);
    font-weight: 500;
    font-size: 3rem;
    font-family: "Clash Display"; /* font change - m */
    font-weight: 500;
    font-size: 3rem;
    margin-inline: auto;
    overflow: hidden;
    margin-bottom: -2px;
    /* keeps it on single line.*/
    white-space: nowrap;
    /*cursor*/
    border-right: 1px solid;
    /*steps = number of characters*/
    animation: typing 1s steps(17) forwards, blink 1s step-end infinite;
}


#email {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 43em;
    padding: 20px;
}
.captions, button {
    line-height: 15px;
}
.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}
.email-box, .password-box, .login {
    margin: 5px;
}
.email-box, .password-box {
    background-color: var(--dark);
    border: none;
    width: 150%;
    padding: 5px;
} ::placeholder, input {
    color: var(--background);
    font-family: "Clash Display";
    font-weight: 600;
}
button {
    border: solid var(--dark) 2px;
    background-color: var(--background);
}
#password {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#repassword {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 20px;
}

button {
    border: solid var(--dark) 2px;
    background-color: var(--background);
    font-family: "Clash Display";

}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}



